<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SMAFormCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <SMAFormCreator.Properties.Settings>
            <setting name="CSCTemplateLocation" serializeAs="String">
                <value>F:\SMA Admin\08_Clients\_SMA Forms\Final Design Forms\02. CSC - Community-Style Clinic Form</value>
            </setting>
            <setting name="CSCTemplateName" serializeAs="String">
                <value>CSC_Template_v1.0.xlsx</value>
            </setting>
            <setting name="ClientFormsFolder" serializeAs="String">
                <value>F:\SMA Admin\08_Clients\_SMA Forms\Client Forms</value>
            </setting>
            <setting name="CDFTemplateLocation" serializeAs="String">
                <value>F:\SMA Admin\08_Clients\_SMA Forms\Final Design Forms\01. CDF - Consent &amp; Declaration Form</value>
            </setting>
            <setting name="CDFTemplateName" serializeAs="String">
                <value>CDF_Template_v1.1.xlsx</value>
            </setting>
        </SMAFormCreator.Properties.Settings>
    </applicationSettings>
</configuration>